[submodule "website/themes/hugo-resume"]
	path = website/themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "themes/somrat"]
	path = themes/somrat
	url = https://github.com/somratpro/somrat.git
